<nav class="navbar navbar-light" style="background-color: #26282b;">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <a href="" class="nav-link text-white">Store</a>

            </li>

            <li class="nav-item">
                <a href="" class="nav-link text-white">Mac</a>

            </li>

            <li class="nav-item">
                <a href="" class="nav-link text-white">iPad</a>

            </li>

            <li class="nav-item">
                <a href="" class="nav-link text-white">iPhone</a>

            </li>

            <li class="nav-item">
                <a href="" class="nav-link text-white">Watch</a>

            </li>

            <li class="nav-item">
                <a href="" class="nav-link text-white">AirPods</a>

            </li>

            <li class="nav-item">
                <a href="" class="nav-link text-white">TV & Home</a>

            </li>

            <li class="nav-item">
                <a href="" class="nav-link text-white">Only on Apple</a>

            </li>

            <li class="nav-item">
                <a href="" class="nav-link text-white">Accessories</a>

            </li>

            <li class="nav-item">
                <a href="" class="nav-link text-white">Support</a>

            </li>

        </ul>
    </div>
</nav>