<div class="container">
    <div class="row">
      <div class="col">

       <h3>
        <p style="text-align:center">{{card1_title1}}</p>
       </h3>
       <h5>
        <p style="text-align:center">{{card1_tag1}}</p>
       </h5>
       <h5>
        <p style="text-align:center">{{card1_tag2}}</p>
       </h5>
       <ul>
        <img src={{card1_image1}} class = "card-img">
        </ul>
      

      </div>

      <div class='col'>
      <div class="card bg-light text-dark">
        <img class="card-img" src={{card2_image1}} alt="Card image">
        <div class="card-img-overlay">
          <h5 class="card-title">{{card2_title1}}</h5>
          <h5 class="card-title2">{{card2_title2}}</h5>
          <p class="card-text"> {{card2_tag1}}</p>
          <p class="card-text">{{card2_tag2}}</p>
        </div>
      </div>
      </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col">
        1 of 2
      </div>



      <div class="col">
        2 of 2
      </div>

      
    </div>