<div class="alert alert-light" role="alert" style='background-color: #F4F2F5;'>
    <p style="text-align:center">
      <a href="#" class="link-primary1">Shop Online</a>
       and get Specialist help, free delivery, and more. Some of our stores are offering limited services. Before you visit, 
       please check your 
       <a href="#" class="link-primary2">store's services</a>
      </p>
  </div>

  <h1>
    <p style="text-align:center" >iPhone 13 Pro</p>
      
  </h1>

  <h5>
    <p style="text-align:center">Oh. So. Pro.</p>
  </h5>

  <div class="span1028" style="text-align:center">
    <a href="#" class="link-primary">Learn more > &nbsp; &nbsp; </a>
    <a href="#" class="link-primary">&nbsp; Buy ></a>
</div>


<ul>
<img src="./assets/iphone13pro.jpeg" alt="iphone-13-pro" class="center">
</ul>
  