
<html> 
    <head> 
        <title>
            HTML Backgorund Color
        </title> 
    </head> 
    <body style="background-color: #34283E"> 
    
    <h1>
        <p style="text-align:center">iPhone 13</p>
    </h1>

    <h5>
      <p style="text-align:center">Your new superpower.</p>
    </h5>
  
    <div class="span1028" style="text-align:center">
      <a href="#" class="link-primary">Learn more > &nbsp; &nbsp; </a>
      <a href="#" class="link-primary">&nbsp; Buy ></a>
  </div>
  
  
  <ul>
  <img src="https://media-assets-04.thedrum.com/cache/images/thedrum-prod/s3-news-tmp-637022-iphone_13_1--default--1280.png" class="center">
  </ul>

    </body> 
    </html>